<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
        <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{https://unpkg.com/aos@next/dist/aos.css}">
        <title>Home</title>
        <link rel='icon' th:href="@{images/icon.png}">
    </head>
<!------------------------------------------------ navbar ---------------------------------------------------->
    <body class="two">
        <section class="aboutheader">
        <nav>
            <!--<input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
            </label>-->
            <ul>
                <li> <a class="active" href="#" >HOME</a></li>
                <li> <a href="#">ABOUT</a></li>
                <li> <a href="#">CONTACT</a></li>
                <li> <a href="/login">LOGIN</a></li>
            </ul>
        </nav> 
        </section>
        <div class="text-box" data-aos="fade-up" data-aos-once="false">
            <h1><font color="035397">Next Generation</font></h1>
            <h1><font color="035397">Smart Grid Meter</font></h1>  
        </div>
<!------------------------------------------------ Electricity ---------------------------------------------------->       
         <div class="double">
                <div class="div0" data-aos="fade-right" data-aos-once="false">
                    <h2><font color="001E6C"> Electricity is </font></h2><h2><font color="red">not</font></h2>
                    <h2><font color="001E6C"> a free resource</font></h2>
                    <hr>
                    <p>Every connection must be metered as it comes to the electricity meters.Home owners have the option of installing either a regular or a smart meter.
                    Electricity meters are devices for electricity consumption measurements which have been used and are still in use today with modern technologies.</p>
                </div>       
                <div class="div1" data-aos="fade-left" data-aos-once="false">
                     <img class="meterr" src="images/electricityinc3.png" alt="electricity" width="600px" height="350px">
                </div>   
                </div>
<!---------------------------------------------------Smart meter------------------------------------------------------->
        <section>
            <div class="container">
              
                <div class="div2" data-aos="fade-up" data-aos-once="false">
                   <strong><h1><font color="black">Smart Meter helps in:</font></h1></strong>
                </div>
                
                <div class="double">
                <div class="div3" data-aos="fade-right" data-aos-once="false">
                    <h2><font color="001E6C">Smart metering helps electricity consumers: </font></h2>   
                    <font color="06113C"> <hr></font>
                    <p>- Adjust their habits and lower electricity bills.</p><br>
                    <p>- Obtain more detailed feedback on electricity usage.</p><br>
                    <p>- Optimize income with existing resources.</p><br>
                    <p>- Dynamic pricing, raises or lowers the cost of electricity.</p><br>
                    <p>- Reduce the number of system-wide electricity failures</p>
                  
                </div>       
                <div class="div4" data-aos="fade-left" data-aos-once="false">
                     <img class="meterr" src="images/meter.PNG" width="600px" height="350px"> 
                </div>   
                </div>
                
            </div>
        </section>
<!------------------------------------------Smart meter in enviroment--------------------------------------->
           <div class="double">
                <div class="div5" data-aos="fade-right" data-aos-once="false">
                    <h2><font color="001E6C">Benefits of smart meters</font></h2>
                    <font color="06113C"> <hr></font>
                    <p><font color="06113C">Smart meters are improved versions of conventional power meters that are developed after AMR and AMI improvements.</font></p>
                    <p><font color="06113C">In addition to metering features,smart meters are capable to calculate several parameters as power factor and to predict power consumption at particular intervals.</font></p>
                    <p><font color="06113C">it also allows users to remote monitoring and remote control for their home energy management systems.</font></p>
                </div>       
                <div class="div6" data-aos="fade-left" data-aos-once="false">
                     <img class="meterr" src="images/meter3.jpg"width="600px" height="350px"> 
                </div>   
            </div>
<!------------------------------------------------------footer---------------------------------------------------------->
            <footer>
                <div class="footer-content">
                    <h3>Next Generation Smart Grid Meter</h3>
                    <p>Electricity can transform people's lives, not just economically but also socially</p>
                    <ul class="socials">
                        <li><a href="https://www.facebook.com/ElsewedyElectric/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <p>copyright &copy; 2022 ElSewedy Electric</p>
                </div>
            </footer>
<!------------------------------------------------------------------------------------------------------------------------------>
        
        <script src="https://unpkg.com/aos@next/dist/aos.js"> </script>
        <script>
            AOS.init({
                duration:1000
            });
        </script>
        
        
    </body>
</html>